@import '~antd/es/style/themes/default.less';
@import './utils/utils.less';

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.main {
  width: 368px;
  margin: 0 auto;

  :global {
    .ant-form-item {
      margin-bottom: 24px;
    }
  }

  h3 {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .getCaptcha {
    display: block;
    width: 100%;
  }

  .submit {
    width: 50%;
  }

  .login {
    float: right;
    line-height: @btn-height-lg;
  }
}

.success,
.warning,
.error {
  transition: color 0.3s;
}

.success {
  color: @success-color;
}

.warning {
  color: @warning-color;
}

.error {
  color: @error-color;
}

.progress-pass > .progress {
  :global {
    .ant-progress-bg {
      background-color: @warning-color;
    }
  }
}


.cardList {
  margin-bottom: 12px;

  .card {
    :global {
      .ant-card-meta-title {
        margin-bottom: 12px;
        & > a {
          display: inline-block;
          max-width: 100%;
          color: @heading-color;
        }
      }
      .ant-card-body:hover {
        .ant-card-meta-title > a {
          color: @primary-color;
        }
      }
    }
  }
  .item {
    height: 64px;
  }

  :global {
    .ant-list .ant-list-item-content-single {
      max-width: 100%;
    }
  }
}

.extraImg {
  width: 155px;
  margin-top: -20px;
  text-align: center;
  img {
    width: 100%;
  }
}

.newButton {
  width: 100%;
  height: 155px;
  color: @text-color-secondary;
  background-color: @component-background;
  border-color: @border-color-base;
  border-radius: @border-radius-sm;
}

.cardAvatar {
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

.cardDescription {
  .textOverflowMulti();
}

.pageHeaderContent {
  position: relative;
}

.contentLink {
  margin-top: 16px;
  a {
    margin-right: 32px;
    img {
      width: 24px;
    }
  }
  img {
    margin-right: 8px;
    vertical-align: middle;
  }
}

@media screen and (max-width: @screen-lg) {
  .contentLink {
    a {
      margin-right: 16px;
    }
  }
}
@media screen and (max-width: @screen-md) {
  .extraImg {
    display: none;
  }
}

@media screen and (max-width: @screen-sm) {
  .pageHeaderContent {
    padding-bottom: 30px;
  }
  .contentLink {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 1000px;
    a {
      margin-right: 16px;
    }
    img {
      margin-right: 4px;
    }
  }
}


.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    background: @layout-body-background;
  }
  
  .lang {
    width: 100%;
    height: 40px;
    line-height: 44px;
    text-align: right;
    :global(.ant-dropdown-trigger) {
      margin-right: 24px;
    }
  }
  
  .content {
    flex: 1;
    padding: 32px 0;
  }
  
  @media (min-width: @screen-md-min) {
    .container {
      background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
      background-repeat: no-repeat;
      background-position: center 110px;
      background-size: 100%;
    }
  
    .content {
      padding: 32px 0 24px;
    }
  
  
  }
  
  .top {
    text-align: center;
  }
  
  .header {
    height: 88px;
    line-height: 88px;
    a {
      text-decoration: none;
    }
  }
  
  .logo {
    height: 88px;
    margin-right: 16px;
    vertical-align: top;
  }
  
  .title {
    position: relative;
    top: 2px;
    color: @heading-color;
    font-weight: 600;
    font-size: 33px;
    font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

  .subtitle {
    position: relative;
    top: 2px;
    color: @heading-color;
    font-weight: 400;
    font-size: 22px;
    font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }
  
  .desc {
    margin-top: 12px;
    margin-bottom: 40px;
    color: @text-color-secondary;
    font-size: @font-size-base;
  }
  